%h3.name= project.name
%h4.url= link_to(project.url)
%h5.url= link_to("Source Code", project.source_url) if project.source_url
.thumbnail= link_to(image_tag(project.image_path, :alt => project.name), project.url) if project.image_path
.description= project.description
