!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/stylesheet.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => '/javascripts/jquery.js', :type => 'text/javascript'}
    %script{:src => '/javascripts/application.js', :type => 'text/javascript'}
    
  %body
    #left    
      .bg-shadow
        #logo
          #logo-text= link_to "/", "Kevin<br>McPhillips"
        
        #nav
          %ul
            - PAGES.each_with_index do |page, i|
              %li= link_to "/#{page}", page.to_s.capitalize, :class => first_last_class_by_index(i, PAGES)
        .clear
      
    #right
      #content= yield

