%h2 Resume

.resume

  %p
    %h3= link_to "Download the PDF", "/kevinmcphillips_resume.pdf"

  .section
    %h4 Contact Information
    %ul.nobullet
      %li Ruby on Rails web developer and consultant in Winnipeg, Manitoba, Canada
      %li= rot13email(EMAIL)
      %li= link_to "github.com/kimos", "http://github.com/kimos/"
  
  .section
    %h4 Technical
    %ul
      %li
        %span.bold Ruby:
        Love it and live it.
      %li
        %span.bold Frameworks:
        Rails 2 and 3, Sinatra, Padrino
      %li
        %span.bold Web:
        jQuery/Javascript, CSS3        
      %li
        %span.bold Testing:
        RSpec
      %li
        %span.bold Database:
        MySQL, SQLite, ActiveRecord, DataMapper
      %li
        %span.bold OS:
        Linux enthusiast and full time user. Mac user.
      %li
        %span.bold Languages:
        Java trained. Some PHP. A dash of Python and shell scripting.
      %li
        %span.bold Tools:
        Git, Bash, JSON, XML
      %li
        %span.bold Methodologies:
        Agile in variants on Scrum and Kanban

  .section
    %h4 Work
    
    %ul.nobullet
      %li
        %h5 Western Life
        February 2012 - Present
        %br
        Senior programmer/analyst
        %br
        Developing web applications using Ruby on Rails and PHP

      %li
        %h5 Online Business Systems
        November 2011 - February 2012
        %br
        Consultant

      %li
        %h5 Thorkelson Consulting (CanadaDrugs.com)
        May 2009 - November 2011
        %br
        Full time Ruby on Rails developer working on enterprise software.
        %br
        Developing in an agile environment using Scrum and self managing teams.
        %br
        Emphasis on pair programming.
        %br
        Working closely with all departments on bug fixing and feature planning.
        %br
        Testing with RSpec.
        
      %li
        %h5 MTS Communications Inc. (MTS TV)
        Java web developer for MTS TV
        %br
        MTS Communications Inc (MTS TV)
        %br
        Developed J2EE web applications as part of the MTS TV settop box portal.
        %br
        Worked in Java based web tech such as JSPs/Servlets, WebWork, and Hibernate.
  
  .section
    %h4 Education
    
    %ul.nobullet
      %li
        %h5 B. Sc. Computer Science (Co-op Option)
        2001-2006
        University of Manitoba
      
      %li
        %h5 Sun Certified Java Programmer
        May 2009
        Java 5.0
        
  .section
    %h4 Projects
    
    %ul.nobullet
      %li
        %h5 Freelance Web Developer
        Developing and maintaining websites for fun and for profit including:
        %br
        - %w(gracehrabi.com ebritton.com stoneboatpottery.ca kevinmcphillips.ca).each_with_index do |site, index|
          = "&nbsp;/&nbsp" unless index == 0
          = link_to site, "http://#{site}"
        %br
        Currently porting legacy PHP sites to Rails 3.
        
      %li
        %h5 Ceramicist and Artist Co-op Member
        Dirtying my programmer hands doing wheel thrown pottery.
        %br
        Vice president of the Clifton Studios Artist Co-Op.
        %br
        = link_to "cliftonstudios.ca/artists/kevin_mcphillips", "http://cliftonstudios.ca/artists/kevin_mcphillips"
        
      %li
        %h5 Tinkerer
        Maintainer of a Linux server (VPS) and user of Ubuntu Linux and OS X desktops.
        %br
        Open source enthusiast.
        %br
        Interested in network security, hacking, and problem solving.
        
  .section
    %h4 References
    %ul.nobullet
      %li Available upon request

