!!!
%html
  %head
    %title= "Kevin McPhillips" + (@title ? " :: #{@title}" : "")

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = auto_discovery_link_tag(:rss, '/feed.rss')

    = yield :js
  
    :javascript    
      $(document).ready(function($) {
        #{yield :js_ready}
      });
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18310332-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #wrapper
      #sidebar
        #nav
          %ul.nav
            %li= link_to "# Blog", "/"
            %li= link_to "# Bio", "/bio"
            %li= link_to "# Resume", "/resume"
            %li= link_to "# Projects", "/projects"
            %li= link_to "# Code", "/code"
        #tweet
          %ul.nav
            %li= link_to "# Twitter", "http://twitter.com/kmcphillips"
          .tweet
          
      #header
        %h1= link_to "<span class=\"accent\">K</span>evin <span class=\"accent\">M</span>cPhillips".html_safe, "/"
        
      #sub-header
        %h2 Rails Developer
      
      #content= yield

      - unless @skip_footer
        #footer
          %p
            = link_to "RSS", "/feed.rss"
            = link_to image_tag("/images/icons/rss.png", :alt => "RSS"), "/feed.rss"
            = " :: "
            = rot13email(email, "Email me")
            = " :: "
            &copy;
            = Time.now.year
